a{
  text-decoration: none;
  color: #232323;
}

blockquote{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14;
  color: #696969;
  letter-spacing: 36%;
}

.materials_text{
  min-width: 226px;
  max-width: 529px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #232323;

}

.materials{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 70px;
}

h1{
  font-size: 46px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #232323;
}

h3{
  font-size: 20px;
}

.video_text{
  top: 57px;
  left: 20px;
  color: #fff;
  white-space: nowrap;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

address p{
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

#materials_about{
  max-width: 529px;
}

.materials_text_about{
  margin-bottom: 40px;
}

#or_list{
  padding-left: 90px;
}

#ss_blq{
  color: #181818;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 3px;

}

#ss_h{
  color: #fff;
}

ul{
  list-style-type: none;
}

li{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

h4{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pr_us_h{
  color: #C75E90;
  letter-spacing: 5px;
}

#price_usual_block
{
  display: flex;
  align-items: baseline;
}

#pr_us_list{
  margin-bottom: 45px;
  font-size: 14px;
}

#price_special_block{
  color: #fff;
  display: flex;
  align-items: baseline;
}

#price_special_h{
  color: #fff;
  margin-bottom: 15px;
}

#pr_special_list{
  margin-bottom: 90px;
}

#pr_sp_h{
  letter-spacing: 5px;
}

#pricing_text{
  max-width: 750px;
  text-align: center;
  color: #232323;
  margin-bottom: 50px;
}

#fb_text{
  max-width: 870px;
  text-align: center;
  margin-bottom: 60px;
}

form p{
  text-align: center;
  max-width: 870px;
  font-size: 14px;
}